files:
  "/etc/systemd/system/web.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=This is web daemon

      [Service]
      ExecStart=/bin/sh -c 'serve -s /var/app/current/ -l 8080'
      Restart=always
      User=webapp
      Environment=PATH=/usr/local/bin:/usr/bin:/bin:/root/.yarn/bin

      [Install]
      WantedBy=multi-user.target

commands:
  01_install_yarn:
    command: "npm install -g yarn"
  02_install_serve:
    command: "yarn global add serve"
  03_reload_systemd:
    command: "systemctl daemon-reload"
  04_enable_service:
    command: "systemctl enable web.service"
  05_start_service:
    command: "systemctl start web.service"
