commands:
  01_delete_node_modules:
    command: "rm -rf /var/app/current/node_modules"
    cwd: /var/app/current/
    ignoreErrors: true

  02_install_npm_packages:
    command: "npm install"
    cwd: /var/app/current/
    env:
      PATH: "/usr/local/bin:/usr/bin:/bin:/root/.npm/bin:/root/.yarn/bin"
    leader_only: true
    ignoreErrors: false

  03_install_babel_plugin:
    command: "npm install @babel/plugin-proposal-private-property-in-object"
    cwd: /var/app/current/
    leader_only: true
    ignoreErrors: false

  04_run_procfile:
    command: "foreman start -f /var/app/current/Procfile"
    cwd: /var/app/current/
    leader_only: true
    ignoreErrors: false
