commands:
  01_delete_node_modules:
    command: "rm -rf /var/app/current/node_modules"
  02_install_npm_packages:
    command: "npm install"
  03_install_babel_plugin:
    command: "npm install @babel/plugin-proposal-private-property-in-object"
  04_run_procfile:
    command: "foreman start -f /var/app/current/Procfile"
